In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [12]:
cars = pd.read_csv("cars-sample.csv")

In [13]:
cars

,Unnamed: 0,Car,Manufacturer,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model.Year,Origin
0,5,torino,ford,17.0,8,302,140.0,3449,10.5,70,American
1,6,galaxie 500,ford,15.0,8,429,198.0,4341,10.0,70,American
2,13,torino (sw),ford,NaN,8,351,153.0,4034,11.0,70,American
3,18,mustang boss 302,ford,NaN,8,302,140.0,3353,8.0,70,American
4,21,corona mark ii,toyota,24.0,4,113,95.0,2372,15.0,70,Japanese
...,...,...,...,...,...,...,...,...,...,...,...
92,393,civic (auto),honda,32.0,4,91,67.0,1965,15.7,82,Japanese
93,398,granada l,ford,22.0,6,232,112.0,2835,14.7,82,American
94,399,celica gt,toyota,32.0,4,144,96.0,2665,13.9,82,Japanese
95,402,mustang gl,ford,27.0,4,140,86.0,2790,15.6,82,American
96,405,ranger,ford,28.0,4,120,79.0,2625,18.6,82,American

In [3]:
cars = cars.sort_values('Manufacturer', ascending=True)

In [4]:
cars = cars[['Car','Manufacturer', 'MPG', 'Weight',]]

In [5]:
scaler = MinMaxScaler((2.5,10))
cars['Size'] = scaler.fit_transform(cars['Weight'].values.reshape(-1,1))

In [6]:
cars.dropna(inplace=True)

In [7]:
cars.to_csv("cars-way-5.csv")

In [9]:
min(cars['Weight'])

1649

In [10]:
min(cars['MPG'])

10.0